{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
{% block content %}

<body>
  <div></div>
    <div class="row" style="background-image: url('https://coda.newjobs.com/api/imagesproxy/ms/niche/images/articles/Mack/20150908-tech.png'); background-repeat: no-repeat; background-size: cover;">
      <div class="welcome" style="height: 700px;text-align: center;margin:0 auto;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="color: black;">One minute, One hundred Opportunities<br>We discover the most greatest ideas worth<br> to change the world</h1>
        <br>
        <button type="button" class="btn btn-outline-success">Join The Community</button>
      </div>
    </div>
  <div class="row">
      <br>
      <br>

      
    <div class="card-deck"> 
      <div class="col-md-4" >
      <div class="card h-25">
      <div class="card border-success">
        <div class="card text-center">
        <div class="card-header">Movies</div>
        <div class="card-body text-info">
          <h5 class="card-title">Movie Hub</h5>
          <p class="card-text">The most incredible thing to do when bored is to watch a movie</p>
          <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/Movie">Read Pitches</a></button>
        </div>
        </div>
      </div>
      </div>
      </div>
     
      <div class="col-md-4">
      <div class="card border-success">
        <div class="card text-center">
        <div class="card-header">Tech</div>
        <div class="card-body text-info">
          <h5 class="card-title">Code Hub</h5>
          <p class="card-text">The future will only be rescuired through lines of code</p>
          <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/Tech">Read Pitches</a></button>
        </div>
        </div>
      </div>
      </div>
      

      <div class="col-md-4">
      <div class="card border-success">
        <div class="card text-center">
          <div class="card text-center">
        <div class="card-header">Life</div>
        <div class="card-body text-info">
          <h5 class="card-title">Human life</h5>
          <p class="card-text">A human will continue survive for generations depending on human themselves</p>
          <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/Life">Read Pitches</a></button>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
  {% endblock%}
</body>